body{

margin:0;
}

.logo{
        font-family : arial;
        font-size: 24px;
        margin: 25px;
        width: 350px;
        height: 200px;
        outline: dashed 1px black;
    
}
h1{
    text-align: center;
}